body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    background: var(--white);
    overflow-x: hidden;

    font-family: 'Inter', sans-serif;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

section {
    position: relative;
    width: 100%;
    height: 580px;
}

.hero {
    padding: 0px 50px;
    height: 620px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.hero_title {
    font-family: 'Calistoga';
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: center;
}

.hero_subtitle {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.project {
    padding: 0px 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project_logo {
    width: 400px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    /* box-shadow: 0px 0px 10px#00000030; */

    overflow: hidden;

    display: grid;
    place-items: center;
}  

.project_logo img {
    width: 100%;
    height: 100%;
}

.project_title {
    margin-top: 35px;

    font-size: 22px;
    font-weight: 700;
}

.project_desc {
    margin-top: 20px;
    padding-right: 90px;

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.project_button {
    margin-top: 30px;
    background: var(--black);
    padding: 10px 35px;
    border-radius: 25px;
    cursor: pointer;
    /* box-shadow: 0px 0px 15px var(--fade_black); */

    transition: transform 0.4s, box-shadow 0.4s;

    color: var(--white);
    font-size: 12px;
    font-weight: 700;
}

.project_button:hover {
    transform: translateY(-10%);
    box-shadow: 0px 0px 15px var(--fade_black);
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview_box {
    width: 75%;
    min-height: 430px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--fade_black);
    padding: 0px 30px;
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.preview_logo {
    background: var(--fade_white2);
    width: 75%;
    height: 60px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    border: 0.7px solid #ffffff20;
    box-shadow: 0px 0px 5px var(#00000030);

    margin-top: -25px;

    display: grid;
    place-items: center;
}

.preview_title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
}

.preview_desc {
    font-size: 10px;
    font-weight: 300;
    line-height: 17px;

    padding-right: 60px;
}

.preview_button {
    align-self: flex-start;
    background: var(--white);
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;

    font-size: 12px;
    font-weight: 600;

    transition: transform 0.4s, box-shadow 0.4s;
}

.preview_button:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 15px var(--fade_black);
}

.preview_image {
    width: 120%;
    margin-bottom: -80px;

    display: grid;
    place-items: center;
}

.preview_image img {
    width: 100%;
    height: 100%;
}

.zoom .preview_box {
    background: var(--zoom);
}
.zoom .preview_button {
    color: var(--zoom);
}
.zoom .preview_logo img {
    width: 60%;
}

.doordash .preview_box {
    background: var(--doordash);
}
.doordash .preview_button {
    color: var(--doordash);
}
.doordash .preview_logo img {
    width: 75%;
}

.uber .preview_box {
    background: var(--uber);
}
.uber .preview_button {
    color: var(--uber);
}
.uber .preview_logo img {
    width: 40%;
}

.venmo .preview_box {
    background: var(--venmo);
}
.venmo .preview_button {
    color: var(--venmo);
}
.venmo .preview_logo img {
    width: 60%;
}