body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: var(--white);
    overflow-x: hidden;
    overflow-y: scroll;

    scroll-behavior: smooth;
    scroll-snap-type: y-mandatory;

    font-family: 'Inter', sans-serif;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

section {
    position: relative;
    width: 100%;
    min-height: 580px;
    scroll-snap-align: start;
}

.hero {
    padding: 0px 50px;
    min-height: 620px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.hero_title {
    font-family: 'Calistoga';
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: center;
}

.hero_subtitle {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.hero_directory {
    display: none;
}

.project {
    padding: 0px 30px;
    min-height: 630px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project_logo {
    width: 85%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px#00000030; */

    overflow: hidden;

    display: grid;
    place-items: center;
}  

.project_logo img {
    width: 100%;
}

.project_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project_title {
    margin-top: 35px;

    font-size: 28px;
    font-weight: 700;
}

.project_desc {
    margin-top: 20px;
    padding-right: 90px;

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.project_button {
    margin-top: 30px;
    background: var(--black);
    padding: 10px 35px;
    border-radius: 25px;
    cursor: pointer;
    /* box-shadow: 0px 0px 15px var(--fade_black); */

    transition: transform 0.4s, box-shadow 0.4s;

    color: var(--white);
    font-size: 12px;
    font-weight: 700;
}

.project_button:hover {
    transform: translateY(-10%);
    box-shadow: 0px 0px 15px var(--fade_black);
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview_box {
    width: 80%;
    min-height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--fade_black);
    padding: 0px 30px;
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.preview_logo {
    background: var(--fade_white2);
    width: 75%;
    height: 60px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    border: 0.7px solid #ffffff20;
    box-shadow: 0px 0px 20px #00000010;

    margin-top: -25px;

    display: grid;
    place-items: center;
}

.preview_title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;

    align-self: flex-start;
}

.preview_desc {
    font-size: 10px;
    font-weight: 300;
    line-height: 17px;

    align-self: flex-start;
}

.preview_button {
    align-self: flex-start;
    background: var(--white);
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;

    font-size: 12px;
    font-weight: 600;

    transition: transform 0.4s, box-shadow 0.4s;
}

.preview_button:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 15px var(--fade_black);
}

.preview_image {
    width: 100%;
    margin-bottom: -80px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--fade_black);
    overflow: hidden;

    display: grid;
    place-items: center;
}

.preview_image img {
    width: 100%;
}

.zoom .preview_box {
    background: var(--zoom);
}
.zoom .preview_button {
    color: var(--zoom);
}
.zoom .preview_logo img {
    width: 60%;
}

.doordash .preview_box {
    background: var(--doordash);
}
.doordash .preview_button {
    color: var(--doordash);
}
.doordash .preview_logo img {
    width: 75%;
}

.uber .preview_box {
    background: var(--uber);
}
.uber .preview_button {
    color: var(--uber);
}
.uber .preview_logo img {
    width: 40%;
}

.venmo .preview_box {
    background: var(--venmo);
}
.venmo .preview_button {
    color: var(--venmo);
}
.venmo .preview_logo img {
    width: 60%;
}

@media (min-width: 550px) {
    section {
        min-height: 740px;
    }

    .hero {
        row-gap: 20px;
        padding: 0px 100px;
    }
    .hero_title {
        font-size: 70px;
    }
    .hero_subtitle {
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
    }

    .project {
        padding: 0px 50px;
        min-height: 850px;
    }
    .project_logo {
        width: 90%;
    }
    .project_title {
        font-size: 34px;
    }
    .project_desc {
        font-size: 16px;
        line-height: 24px;
    }
    .project_button {
        font-size: 16px;
    }

    .preview_box {
        min-height: 420px;
        width: 75%;
        padding: 0px 50px;
        row-gap: 20px;
        justify-content: flex-start;
    }
    .preview_logo {
        width: 65%;
        height: 80px;
        margin-top: -50px;
    }
    .preview_title {
        font-size: 22px;
        font-weight: 700;
    }
    .preview_desc {
        font-size: 12px;
        line-height: 24px;
    }
    .preview_button {
        padding: 10px 25px;
        font-size: 12px;
        margin-bottom: 20px;
    }
    .preview_image {
        margin-bottom: -100px;
    }
}

@media (min-width: 1025px) {
    section {
        min-height: unset;
        height: 100vh;
    }

    .hero_directory {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 70px;

        align-self: flex-start;
    }

    .hero_directory_title {
        font-size: 14px;
        font-weight: 600;
        padding: 8px 15px;

        border-radius: 20px;
    }
    
    .project {
        height: 100vh;
        min-height: unset;
        flex-direction: row;
        align-items: center;
    }
    .project_content {
        width: 50%;
    }
    .project_logo {
        width: 50%;
        order: 2;
    }
    .project_title {
        font-size: 30px;
        font-weight: 700;
    }
    .project_desc {
        font-size: 14px;
        text-align: justify;
    }
    .project_button {
        font-size: 14px;
    }

    .preview {
        width: 100vw;
    }
    .preview_box {
        position: relative;
        min-height: unset;
        width: 75%;
        height: 440px;
        border-radius: 0;
        box-shadow: none;

        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 30px;
    }
    .preview_logo {
        position: absolute;
        width: 270px;
        height: 80px;
        backdrop-filter: blur(7px);
        border-radius: 14px;
    }
    .preview_title {
        font-size: 22px;
        font-weight: 600;
    }
    .preview_desc {
        font-size: 12px;
    }
    .preview_button {
        font-size: 14px;
        padding: 10px 25px;
    }
    .preview_image {
        position: absolute;
        width: 480px;
        border-radius: 10px;
    }
    
    .zoom .preview_box {
        background: url('./images/zoom-container.png');
        background-size: 100% 440px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 60px 45% 0px 50px;
    }
    .zoom .preview_logo {
        right: 10%;
        top: 3%;
    }
    .zoom .preview_image {
        right: 4%;
        bottom: 32%;
    }

    .doordash .preview_box {
        background: url('./images/doordash-container.png');
        background-size: 100% 440px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 60px 50px 0px 45% ;
    }
    .doordash .preview_logo {
        left: 10%;
        bottom: 15%;
    }
    .doordash .preview_image {
        left: 4%;
        top: -2%;
    }

    .uber .preview_box {
        background: url('./images/uber-container.png');
        background-size: 100% 440px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 60px 45% 0px 50px ;
    }
    .uber .preview_logo {
        right: 10%;
        top: 20%;
    }
    .uber .preview_image {
        right: 4%;
        bottom: 25%;
    }

    .venmo .preview_box {
        background: url('./images/venmo-container.png');
        background-size: 100% 440px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 90px 50px 0px 45% ;
    }
    .venmo .preview_logo {
        left: 10%;
        bottom: -2%;
    }
    .venmo .preview_image {
        left: 4%;
        top: 10%;
    }
}